.tech {
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .tech {
    margin: 10px 10px 0;
  }
}

.tech__description {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tech__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 0 20px;
  padding: 0;
  list-style: none;
  color: var(--color-tag);
}

.tag {
  display: flex;
  font-size: 16px;
  line-height: 22px;
  height: 50px;
  min-width: 80px;
  border-radius: 10px;
  background-color: #E8E8E8;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 10px;
}

@media print {
  .tag {
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    min-width: 60px;
  }
}

.title {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin: 50px 0 20px;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .title {
    margin-top: 50px;
    margin-bottom: 10px;
    justify-content: center;
  }
}

.title::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #212121;
  height: 1px;
  bottom: -20px;
  left: 0;
}
