.name {
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}
.image {
  height: 327px;
  width: 270px;
  background-color: yellow;
  /* left: 940px;
  top: 227px; */
  border-radius: 10px;
}

.profession {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.tech__list {
  color: olive;
  list-style: none;
  background-color: red;
}
