.contact__links {
  margin: 30px 0 0;
  padding: 0;
  width: calc(100% - 300px);
  display: flex;
  flex-direction: row;
  list-style: none;
}

.contact__link {
  margin: 0 10px 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
