.menu {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0 0 2px;
  list-style: none;
  border-bottom: 1px solid var(--border-color);
}

.item {
  color: var(--color);
  font-weight: 500;
  padding: 0 5px;
}

.active {
  color: red;
}
