.notes {

}

.menu {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  list-style: none;
  border-bottom: 1px solid var(--border-color);
}

.item {
  color: var(--color);
  font-weight: 500;
  padding: 0 5px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
  margin: 20px 0;
  padding: 0;
  background-color: #222;
  min-height: 300px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #000;
  min-height: 240px;
}
